body{
  margin:0;
  font-family:Inter;
  background:#0b0f1a;
  color:#fff;
}

/* layout */
.app{
  display:flex;
  height:100vh;
}

/* sidebar */
.sidebar{
  width:230px;
  background:#0f1424;
  padding:20px;
  display:flex;
  flex-direction:column;
  gap:20px;
}

.sidebar h1{
  font-size:20px;
}

.sidebar span{
  color:#8b5cf6;
}

.menu button{
  width:100%;
  background:none;
  border:none;
  color:#ccc;
  padding:10px;
  text-align:left;
  cursor:pointer;
}

.menu button:hover{
  color:#fff;
}

.session-box{
  background:#161b2e;
  padding:15px;
  border-radius:10px;
}

/* main */
.main{
  flex:1;
  display:flex;
  flex-direction:column;
  gap:20px;
  padding:20px;
}

/* scramble */
.scramble-card{
  background:#111827;
  padding:15px;
  border-radius:12px;
}

.top-row{
  display:flex;
  justify-content:space-between;
  margin-bottom:10px;
}

.scramble{
  font-size:20px;
  text-align:center;
}

/* timer */
.timer-area{
  flex:1;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
}

.timer{
  font-family:Orbitron;
  font-size:120px;
}

.stats{
  margin-top:10px;
  display:flex;
  gap:30px;
  font-size:22px;
}

.stats span:nth-child(1){
  color:#3b82f6;
}

.stats span:nth-child(2){
  color:#a855f7;
}

.hint{
  margin-top:10px;
  color:#777;
}

/* bottom */
.bottom{
  display:flex;
  gap:20px;
}

/* tabela */
.table-box{
  flex:1;
  background:#111827;
  border-radius:12px;
  padding:10px;
  max-height:200px;
  overflow:auto;
}

table{
  width:100%;
  border-collapse:collapse;
}

td,th{
  padding:8px;
  text-align:center;
}

thead{
  color:#aaa;
}

/* gráfico */
canvas{
  flex:1;
  background:#111827;
  border-radius:12px;
}